

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #242333;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Lato', sans-serif;
	color: #fff;
}

.heading{
	margin-bottom: 20px;
}

#movie_select_option{
	padding: 10px;
	font-size: 15px;
	border: none;
	outline: none;
	border-radius: 4px;
}

#movie{
	margin-bottom: 10px;
}

.seat_status{
	display: flex;
	list-style: none;
	background-color: 
	
}
.seat_status li{
	margin-bottom: 20px;
	display: flex;
}

small{
	top: 3px;
}

.seat{
	width: 12px;
	height: 12px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	background-color: #6d6b6b;
	margin: 5px;
	cursor: pointer;
}

.seat:hover{
	transform: scale(1.2);
}


.row{
	display: flex;
	
}

.row .seat:nth-of-type(2){
	margin-right: 5px;
}

.move_seats_container{
	margin-bottom: 10px;
}

.seat.selected{
	background-color: #54fffc;
	
}


.seat.Occupied{
	background-color: #fff;
}

#count{
	color: #54fffc;
}

#total{
	color: #54fffc;
}

.screen{
	width: 100%;
	height: 70px;
	background-color: white;
	margin-bottom: 8px;
	box-shadow: 1px 1px 7px gray;
	transform: rotatex(-45deg);

}

.seat_status .seat:hover{
	transform: scale(1);
	cursor: default;

}